.demon-hunter {
  color: purple;
}
.barbarian {
  color: red;
}
.crusader {
  color: blue;
}
.witch-doctor {
  color: green;
}
.wizard {
  color: orange;
}
.monk {
  color: yellow;
  background-color: black;
}
.selected {
  font-weight: bold;
}
.mule {
  width: 100%;
  -webkit-transform: scale(0.75);
  -moz-tansform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: .5s all linear;
}
.mule:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.hero {
  width: 50%;
}
div {
  transition: 1s background ease;
  -o-transition: 1s background ease;
  -moz-transition: 1s background ease;
  -webkit-transition: 1s background ease;
}
div:hover {
  background: #404040;
}
body {
  background: #2B2B2B;
}
h1,
div {
  color: white;
}
