.demon-hunter {
	color: purple;
}

.barbarian {
	color: red;
}

.crusader {
	color: blue;
}

.witch-doctor {
	color: green;
}

.wizard {
	color: orange;
}

.monk {
	color: yellow;
	background-color:black;
}

.selected {
	font-weight : bold;
}

.mule {
	-webkit-transform : scale(.75);
    -ms-transform : scale(.75);
    transform : scale(.75);

    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
	width : 100%;
}

.mule:hover {
	-webkit-transform : scale(1);
    -ms-transform : scale(1);
    transform : scale(1);

}

.hero {
	width : 50%;
}
div {
	transition : background 1s;
	-webkit-transition : background 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
div:hover {
	background : gray;

}

@-webkit-keyframes divhover {
	from {background: white;}
	to {background: gray;}
}