.demon-hunter {
	color: purple;
}

.barbarian {
	color: red;
}

.crusader {
	color: blue;
}

.witch-doctor {
	color: green;
}

.wizard {
	color: orange;
}

.monk {
	color: yellow;
	background-color:black;
}

.selected {
	font-weight : bold;
}
