h1, h2, p, li {
	color: white;
}
a {
	text-decoration : none;
}
#profile, #items, #skills {
	display : inline-block;
	border-style : solid;
	border-width : 1px;
	padding : 5px;
	border-color : white;
}

.orange {
	color : orange;
}
.green {
	color : green;
}
.yellow {
	color : yellow;
}
.blue {
	color : blue;
}

body {
	background-color : #2B2B2B;
}