.selected {
	font-weight: bold;
	background-color: black;
}

header {
	text-align: center;
}

body {
	color: white;
	background: #2B2B2B;
}

span, a {
	font-size: 32px;
}

span {
	background-color: blue;
	padding: 2px;
}

#diabloClass {
	background-color: black;
}