@import "../partials/_default.less";

html {
	font-family: sans-serif;
}
*,*:before, *:after {
	box-sizing: border-box;
}
header {
	text-align: center;
}

span {
	background-color: lighten(@background, 30%);
	padding: 2px;
}

.selected {
	font-weight: bold;
	text-decoration: underline;
}

@normal: #787878;
@hc: darken(@normal, 15%);
@season: rgb(73, 113, 26);
@seasonhc: darken(@season, 10%);

a, span {
	font-size: 32px;
	text-decoration: none;
	&:hover{
		text-decoration:underline;
	}
}

a:visited, a:active, a:visited, a:link {
	color: white;
}

#normal {
	background-color: @normal;
}

#hc {
	background-color: @hc;
	color: red;
}

#season {
	background-color: @season;
}

#seasonhc {
	background-color: @seasonhc;
	color: red;
}

#diabloClassPicker {
	background-color: black;
	padding: 4px;
	margin-top: 1px;
}

#categoryPicker {
	margin-top: 3px;
}